@import '../../../../assets/sass/_variables'

.limit_range
	display: flex
	align-items: center

	> span
		margin-right: 5px

		font-size: 14px

	.limit_item
		width: 30px
		height: 30px

		display: flex
		align-items: center
		justify-content: center

		cursor: pointer

		border-radius: 10px
		border: 2px solid transparent

		&:not(:last-of-type)
			margin-right: 5px

		&:hover
			border: 2px solid rgba($red, .4)
			color: rgba($red, .4)

		&.active
			border: 2px solid $red
			color: $red
