@import '../../../../assets/sass/_variables'

.view_btns
	display: flex
	.btn
		height: 30px
		width: 30px

		display: flex
		align-items: center
		justify-content: center

		border-radius: 10px

		color: rgba($font-color, .2)

		transition: border-color .2s ease, color .2s ease

		&.active
			border-color: $purple
			color: $purple

	@media (max-width: $mobile)
		display: none
